@model cricZee.Models.PointsTable

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PointsTable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matches)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matches)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Won)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Won)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tied)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tied)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Points)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nrr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nrr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nrrposition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nrrposition)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Teams">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
