@model cricZee.Quizz

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quizz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ques)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ques)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Option1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Option1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Option2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Option2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Option3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Option3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Option4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Option4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correct)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.QuizzId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
