@model cricZee.Models.TopBatsmen

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TopBatsmen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Innings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Innings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Runs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Runs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Player">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
