@model IEnumerable<cricZee.Models.DelhiCapital>

@{
    ViewData["Title"] = "Index";
}

<h1>Delhi Capitals</h1>

<img src="~/lib/Delhicapital1.jpg" />
<img src="~/lib/Delhicapital2.jpg" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Player)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Player)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerRole)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
              
            </tr>
        }
    </tbody>
</table>
